* {
  margin: 0;
  padding: 0;
}

#root {
  background-color: #1b1834;
}

.navItem {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 19px;
  border-radius: 1rem;
  background-color: #e7005e;
  height: 70px;
  width: max-content;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
}

.navItem:hover {
  color: white;
  border: 1px solid #585fa2;
  background-color: #242145;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  color: white;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem  2rem;
  color: white;
  background-color: #242145;
}

.left-bar {
  display: flex;
  gap: 70px;
  align-items: center;
}

.profile-icom {
  font-size: 40px;
}

.header-wrap {
  background: linear-gradient(269.52deg, #ec008c 0, #f15b2a 98.86%);
  height: 80px;
  margin: 2rem 8rem;
  border-radius: 1rem;
}

.header {
  background-image: url(https://www.pluralsight.com/etc.clientlibs/pluralsight/clientlibs/clientlib-main/resources/images/course/dots.png);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 80px;
  margin: 2rem 8rem;
  border-radius: 1rem;
  font-size: 20px;
}

.headline {
  display: flex;
}

.status-btn {
  margin: 10rem 30rem;
  height: 40px;
  width: 20rem;
  cursor: pointer;
}

.book-list {
  margin: 0 2rem;
  background-color: #1b1834;
  overflow: hidden;
}

.formtWrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  border: 1px solid #585fa2;
  width: 80%;
  margin: 2rem auto;
  padding: 2rem;
  background-image: url(https://www.pluralsight.com/etc.clientlibs/pluralsight/clientlibs/clientlib-main/resources/images/course/dots.png);
  color: white;
  border-radius: 0.5rem;
  font-size: larger;
}

.form {
  display: flex;
  gap: 30px;
  align-items: center;
}

input {
  padding: 0.5rem;
  border-radius: 1rem;
}

.book-container {
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #585fa2;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #242145;
}

.book-item {
  list-style: none;
}

.book {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  width: 30%;
  line-height: 2rem;
}

.category {
  color: silver;
}

.progress-container {
  width: 100px;
  height: 100px;
  font-size: 1px;
  border-right: 2px solid #585fa2;
  padding-right: 2.7rem;
}

button {
  padding: 0.4rem 0.8rem;
  border-radius: 0.8rem;
  margin-right: 1rem;
  background-color: #4a33d1;
  color: white;
  border: 2px solid transparent;
  transition: 0.4s ease-in-out 0s;
}

.submit-btn {
  padding: 0.4rem 0.8rem;
  border-radius: 0.8rem;
  margin-right: 1rem;
  background-color: #e7005e;
  color: white;
  border: 2px solid transparent;
}

button:hover {
  background-color: transparent;
  border: 2px solid #585fa2;
  transform: scale(1.25);
}

.submit-btn:hover {
  background-color: transparent;
  border: 2px solid #585fa2;
}

.chapter-container {
  line-height: 2rem;
}

.chapter {
  padding-bottom: 15px;
}

.categ-wrap {
  height: 100vh;
  background-color: #1b1834;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  margin-top: 6rem;
}

.categ-text {
  margin-top: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.categ-btn {
  padding: 1rem 3rem;
  border-radius: 0.8rem;
  margin-right: 1rem;
  background-color: #4a33d1;
  color: white;
  border: 2px solid transparent;
}
